import(rtracklayer)
importFrom(lattice,stripplot,xyplot,bwplot,simpleTheme)
importFrom(yaml,yaml.load_file)

exportMethods(
              ## gatkio
              plotDepthOfCoverage,
              plotSampleIntervalSummary
              )

export(
       read.DepthOfCoverage,
       ## utils
       print.xtable.booktabs,
       ## 454
       read454.metrics,
       ## picard
       read.dup_metrics,
       read.insert_metrics,
       read.hs_metrics,
       read.align_metrics,
       ## bcbb.R
       get_hiseq_metrics,
       flowcellreport.miseq,
       flowcellreport.hiseq
       )
