import(rtracklayer)
importFrom(lattice, barchart)

exportMethods(
              ## gatkio
              plotDepthOfCoverage,
              plotSampleIntervalSummary
              )

export(
       read.DepthOfCoverage,
       ## utils
       print.xtable.booktabs
       )
