import(rtracklayer)
importFrom(lattice, barchart)

exportMethods(
              ## gatkio
              read.DepthOfCoverage,
              plotDepthOfCoverage,
              plotSampleIntervalSummary,
              ## utils
              print.xtable.booktabs
              )
